* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-padding: 1rem;
  --section-padding: 1rem;
  --font-size: 20px;
  --primary-color: #e867ec;
  --background-color: #33393f;
  --gradient-background: linear-gradient(to bottom, #e97eed41, #e97eed);
}

body {
  font-size: var(--font-size);
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--background-color);
  color: #f5f5f5;
}

main {
  flex: 1;
  align-items: center;
}

/* Element Selectors */
header {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 1rem;
  text-align: center;
}

header h1 {
  color: var(--primary-color);
  font-size: 2.8rem;
}

header p {
  padding: 0.5em;
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin: 0rem auto;
}

.card {
  flex: 1 0 100%;
  position: relative;
  border: 2px dashed white;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  cursor: pointer;
}

.card-header {
  padding: 0.5rem;
  width: 90%;
  margin-inline: auto;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid white;
  color: var(--primary-color);
  background-color: var(--background-color);
  border-radius: 5px;
  font-size: 1.8rem;
  text-align: left;

  /*great solution to the header with long titles, as it hides the overflow text and represent that with the 3 dots which is great and consistent amoung all the screens*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info {
  padding-top: 0.8rem;
  margin: 1rem 0rem;
  text-align: left;
  color: var(--primary-color);
}

.card-snippet {
  /*we need to add this property to wrap the pre content incase the content is greater than the container itself*/
  white-space: pre-wrap;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  background-image: var(--gradient-background);
  line-height: 1.6;
  border-radius: 12px;
  padding: 0rem 0.5rem;
  width: 100%;
  height: 100%;
}

footer {
  font-size: 2rem;
}
